<section>
    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <td width="120">Nama</td>
                        {% if user_linkedin.user_name %}
                            <td id="name">{{ user_linkedin.user_name }}</td>                        
                        {% else %}
                            <td id="name"><span>Kosong</span></td>
                        {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td width="120">NPM</td>
                        {% if user.identity_number %}
                            <td id="npm">{{ user.identity_number }}</td>                        
                        {% else %}
                            <td id="npm"><span>Kosong</span></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td width="120">Keahlian</td>
                        <td id="keahlian_user">
                            {% if keahlian_user %}
                                {% for keahlian in keahlian_user %}
                                    <span style="color: {{ keahlian.user_warna_keahlian }}"> {{ keahlian.user_bahasa }}</span>
                                {% endfor %}
                            {% else %}
                                <span>Kosong</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td width="120">Email</td>
                        {% if user_linkedin.user_email %}
                            <td id="email">{{ user_linkedin.user_email }}</td>                        
                        {% else %}
                            <td id="email"><span>Kosong</span></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td width="120">Profile LinkedIn</td>
                        {% if user_linkedin.user_profile %}
                            <td id="profile"><a href="{{ userLinkedIn.user_profile }}">{{ user_linkedin.user_profile }}</a></td>                       
                        {% else %}
                            <td id="profile"><span>Kosong</span></td>
                        {% endif %}
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>