{% extends "profil/layout/base.html" %}
{% load staticfiles %}
{% load static %}s

{% block content %}
	<section name="profile-user" id="profile-user" style="margin-top: 60px; align-self: center;">
        <div class="container">
            <div class="row">
                <div style="float: ">
                	<table align="center">
                		<tr>
                			<td width="150">
                				<div id="picture">
                                {% if userLinkedIn.user_image %}
                                    <img src="{{ userLinkedIn.user_image }}" style="width:150px;height:190px;float: center;"/>
                                {% else %}
                                    <img src="{% static 'img/blankProfile.png' %}" style="width:150px;height:190px;float: center;"/>
                                {% endif %}
                                </div>
                			</td>
                			
                		</tr>
                		<tr>
                			<td style="text-align: center;">
                				<span>NPM {{ user.identity_number }}</span>
                			</td>
                			<td width="95" valign="bottom">
                				<button style="margin-left: 15px;" onclick="simpan()">Simpan</button>
                			</td>
                			<td width="80" valign="bottom">
                				<button onclick="keluar()">Keluar</button>
                			</td>
                		</tr>
                	</table>
                </div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div><h4>Data Pribadi</h4></div>
                {% if is_ada_linkedin %}
                    <!-- sign in with linkedin button -->
                    <div id="data-sementara">
                        <script type="in/Login"></script>
                    </div>
                {% else %}
                    <div>
					    <table>
	                		<tr>
	                			<td width="120">Nama</td>
	                			<td id="name">{{ userLinkedIn.user_name }}</td>
	                		</tr>
	                		<tr>
	                			<td width="120">Email</td>
	                			<td id="email">{{ userLinkedIn.user_email }}</td>
	                		</tr>
	                		<tr>
	                			<td width="120">Profile LinkedIn</td>
	                			<td id="profile"><a href="{{ userLinkedIn.user_profile }}">{{ userLinkedIn.user_profile }}</a></td>
	                		</tr>
                		</table>
                    </div>
                {% endif %}
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="col-lg-6">
                	<h4>Keahlian</h4>
                	<div class="keahlian">
                		<table id="list-keahlian">
                            <tbody id="list-keahlian-tbody">
                            </tbody>
                		</table>
                	</div>
                	<div style="margin-top: 10px;">
                		<button style="margin-left: 110px;" onclick="tambahKeahlian()"> Tambah Keahlian </button>
                	</div>
                </div>
                <div class="col-lg-6">
                	<h4>Tampilkan Nilai</h4>
                    {% if userLinkedIn.user_tampilkan_nilai %}
                    	<input type="radio" name="showNilai" value="False"> Tidak <br>
      					<input type="radio" name="showNilai" value="True" checked> Ya <br>
                    {% else %}
                        <input type="radio" name="showNilai" value="False" checked> Tidak <br>
                        <input type="radio" name="showNilai" value="True"> Ya <br>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: 810ih4l2um8k2n
    authorize: true
    onLoad: onLinkedInLoad
    scope: r_basicprofile r_emailaddress
</script>

<script type="text/javascript">
    // Setup an event listener to make an API call once auth is complete
    function onLinkedInLoad() {
        IN.Event.on(IN, "auth", getProfileData);
            $('a[id*=li_ui_li_gen_]').css({marginBottom:'20px'}).html('<img src="https://content.linkedin.com/content/dam/developer/global/en_US/site/img/signin-button.png" height="31" width="200" border="0" />');
    }
    
    // Use the API call wrapper to request the member's profile data
    function getProfileData() {
        IN.API.Profile("me").fields("id", "first-name", "last-name", "headline", "location", "picture-url", "public-profile-url", "email-address").result(displayProfileData).error(onError);
    }

    // Handle the successful return from the API call
    function displayProfileData(data){
        var html = '<div>\
                    <table>\
                        <tr>\
                            <td width="120">Nama</td>\
                            <td id="name">' + data.values[0].firstName + " " + data.values[0].lastName + '</td>\
                        </tr>\
                        <tr>\
                            <td width="120">Email</td>\
                            <td id="email">' + data.values[0].emailAddress + '</td>\
                        </tr>\
                        <tr>\
                            <td width="120">Profile LinkedIn</td>\
                            <td id="profile"><a href="' + data.values[0].publicProfileUrl + '">' + data.values[0].publicProfileUrl + '</a></td>\
                        </tr>\
                    </table>\
                </div>';
        $("#data-sementara").html(html);

        picturenya = '<img src="' + data.values[0].pictureUrl + '" style="width:150px;height:190px;float: center;"/>'
        $("#picture").html(picturenya);
        sessionStorage.dataUser = JSON.stringify(data.values[0]);
        IN.User.logout();
    }

    // Handle an error response from the API call
    function onError(error) {
        console.log(error);
    }
    

    if (typeof(Storage) !== "undefined") {
	  var language = [
	                {"id":0,"text":"Java"},
	                {"id":1,"text":"Python"},
	                {"id":2,"text":"C++"},
	                {"id":3,"text":"C#"},
	                {"id":4,"text":"C"},
	                {"id":5,"text":"Erlang"},
	                {"id":6,"text":"Kotlin"},
	                ];
	    localStorage.language = JSON.stringify(language);

	  var keahlian = [
	                {"id":0,"text":"Beginner", "color" : "#42f456"},
	                {"id":1,"text":"Intermediate", "color" : "#4189f4"},
	                {"id":2,"text":"Advanced", "color" : "#0d3a7c"},
	                {"id":3,"text":"Expert", "color" : "#0d3a7c"},
	                {"id":4,"text":"Legend", "color" : "#f20915"},
	                ];
	  localStorage.keahlian = JSON.stringify(keahlian);

	} 
	else {
	    window.alert("Sorry, your browser does not support web storage...");
	}

        function keluar(){
        window.location.href="/";
    }

    function simpan(){
        if (sessionStorage.dataUser){
            console.log("bisa")
            var dataDiPakai = JSON.parse(sessionStorage.dataUser);
            $.ajax({
                method: "POST",
                url: '{% url "profil:update-profile" %}',
                data: { user_name: dataDiPakai.firstName + " " + dataDiPakai.lastName, user_email: dataDiPakai.emailAddress, user_profile: dataDiPakai.publicProfileUrl, user_image: dataDiPakai.pictureUrl, user_headline: dataDiPakai.headline },
                dataType: 'json',
                success : function (data) {
                    console.log(data);
                    
                },
                error : function (error) {
                    alert(JSON.parse(error));
                }
            });
        }

        var radioValue = $("input[name='showNilai']:checked").val();

        var count = $('#list-keahlian-tbody').children('tr').length;
        var listnya = {};
        for (var i = 0; i < count; i++) {
            var my_select_bahasa_index = $('.my-select-language-' + (i+1)).val();
            var dictio = {};
            dictio["index_bahasa"] = my_select_bahasa_index;
            dictio["bahasa"] = JSON.parse(localStorage.language)[my_select_bahasa_index]["text"];

            var my_select_keahlian_index =  $('.my-select-keahlian-' + (i+1)).val();
            dictio["index_keahlian"] = my_select_keahlian_index;
            dictio["tingkatan"] = JSON.parse(localStorage.keahlian)[my_select_keahlian_index]["text"];
            dictio["warna_keahlian"] = JSON.parse(localStorage.keahlian)[my_select_keahlian_index]["color"];
            console.log(dictio);
            listnya[i] = dictio;
        }
        
        var list_dari_app = JSON.stringify(listnya);
        console.log(list_dari_app);
        var request2 = $.ajax({
            method: "POST",
            url: '{% url "profil:update-keahlian" %}',
            data: { "user_tampilkan_nilai": radioValue, "list_dari_app": list_dari_app},
            success : function (data) {  
            },
            error : function (error) {
                alert("Terjadi Error");
            }
        })
    
        
    }

    function tambahKeahlian(){
        var count = $('#list-keahlian-tbody').children('tr').length;
        var newRow = '<tr height="50" id="data-ke-"' + (count + 1) + '>\
                        <td width="30">' + (count + 1) +'. </td>\
                        <td width="150"><select class="my-select-language-' + (count + 1) + '" style="width: 100px;"></select></td>\
                        <td width="95">Level:</td>\
                        <td width="150"><select class="my-select-keahlian-' + (count + 1) + '" style="width: 100px;"></select></td>\
                        <td width="95"><button onclick="deleteButton(' + "'" + (count + 1) + "'" + ')">Delete</button>\
                    </tr>';
        $('#list-keahlian-tbody').append(newRow);
        $('.my-select-language-' + (count+1)).select2({
        'data': JSON.parse(localStorage.language),
        })
        $('.my-select-keahlian-' + (count+1)).select2({
        'data': JSON.parse(localStorage.keahlian),
        })
    }

    function deleteButton(idnya){
        var count = $('#list-keahlian-tbody').children('tr').length;
        $.ajax({
            method: "POST",
            url: '{% url "profil:delete-keahlian" %}',
            data: {idnya: idnya},
            success : function (data) {
                if (data.gagal_delete){
                    $('#data-ke-' + data.idnya).remove();
                }
                else if (data.length == 0) {
                    var newRow = '<tr height="50" id="data-ke-"' + (1) + '>\
                        <td width="30">' + (1) +'. </td>\
                        <td width="150"><select class="my-select-language-' + (1) + '" style="width: 100px;"></select></td>\
                        <td width="95">Level:</td>\
                        <td width="150"><select class="my-select-keahlian-' + (1) + '" style="width: 100px;"></select></td>\
                        <td width="95"><button onclick="deleteButton(' + "'" + (1) + "'" + ')">Delete</button>\
                    </tr>';
                    $('#list-keahlian-tbody').html(newRow);
                    $('.my-select-language-' + (1)).select2({
                    'data': JSON.parse(localStorage.language),
                    })

                    $('.my-select-keahlian-' + (1)).select2({
                    'data': JSON.parse(localStorage.keahlian),
                    })
                }
                else {
                    $('#list-keahlian-tbody').html("");
                    for (var key in data){
                        console.log(data[key].pk)
                        var newRow = '<tr height="50" id="data-ke-' + data[key].pk + '">\
                            <td width="30">' + (parseInt(key) + 1) +'. </td>\
                            <td width="150"><select class="my-select-language-' + (parseInt(key) + 1) + '" style="width: 100px;"></select></td>\
                            <td width="95">Level:</td>\
                            <td width="150"><select class="my-select-keahlian-' + (parseInt(key) + 1) + '" style="width: 100px;"></select></td>\
                            <td width="95"><button onclick="deleteButton(' + "'" + data[key].pk + "'" + ')">Delete</button>\
                        </tr>';
                        $('#list-keahlian-tbody').append(newRow);
                        $('.my-select-language-' + (parseInt(key) + 1)).select2({
                        'data': JSON.parse(localStorage.language),
                        });
                        $('.my-select-language-' + (parseInt(key) + 1)).val(data[key].fields.user_index_bahasa).trigger('change');
                        $('.my-select-keahlian-' + (parseInt(key) + 1)).select2({
                        'data': JSON.parse(localStorage.keahlian),
                        });
                        $('.my-select-keahlian-' + (parseInt(key) + 1)).val(data[key].fields.user_index_keahlian).trigger('change');
                    }
                }
            },
            error : function (error) {
                console.log("gak ada yng di delete");
            }
        });
    }

	$(document).ready(function() {
		console.log(sessionStorage.dataUser)
        var count = $('#list-keahlian-tbody').children('tr').length;
        var request2 = $.ajax({
            method: "GET",
            url: '{% url "profil:get-keahlian" %}',
            data: {},
            success : function (data) {
                if (data.length == 0) {
                    var newRow = '<tr height="50" id="data-ke-"' + (count + 1) + '>\
                        <td width="30">' + (count + 1) +'. </td>\
                        <td width="150"><select class="my-select-language-' + (count + 1) + '" style="width: 100px;"></select></td>\
                        <td width="95">Level:</td>\
                        <td width="150"><select class="my-select-keahlian-' + (count + 1) + '" style="width: 100px;"></select></td>\
                        <td width="95"><button onclick="deleteButton(' + "'" + (count + 1) + "'" + ')">Delete</button>\
                    </tr>';
                    $('#list-keahlian-tbody').append(newRow);
                    $('.my-select-language-1').select2({
                    'data': JSON.parse(localStorage.language),
                    })

                    $('.my-select-keahlian-1').select2({
                    'data': JSON.parse(localStorage.keahlian),
                    })
                }
                else {
                    for (var key in data){
                        console.log(data[key].pk)
                        var newRow = '<tr height="50" id="data-ke-' + data[key].pk + '">\
                            <td width="30">' + (parseInt(key) + 1) +'. </td>\
                            <td width="150"><select class="my-select-language-' + (parseInt(key) + 1) + '" style="width: 100px;"></select></td>\
                            <td width="95">Level:</td>\
                            <td width="150"><select class="my-select-keahlian-' + (parseInt(key) + 1) + '" style="width: 100px;"></select></td>\
                            <td width="95"><button onclick="deleteButton(' + "'" + data[key].pk + "'" + ')">Delete</button>\
                        </tr>';
                        $('#list-keahlian-tbody').append(newRow);
                        $('.my-select-language-' + (parseInt(key) + 1)).select2({
                        'data': JSON.parse(localStorage.language),
                        });
                        $('.my-select-language-' + (parseInt(key) + 1)).val(data[key].fields.user_index_bahasa).trigger('change');
                        $('.my-select-keahlian-' + (parseInt(key) + 1)).select2({
                        'data': JSON.parse(localStorage.keahlian),
                        });
                        $('.my-select-keahlian-' + (parseInt(key) + 1)).val(data[key].fields.user_index_keahlian).trigger('change');
                    }
                }
            },
            error : function (error) {
                alert("Terjadi Error");
            }
        })    
	});
</script>


{% endblock %}