{% extends "layout/base.html" %}
{% load staticfiles %}
{% block content %}
<!-- Content Here -->
<div class="pojok-kanan">
</div>
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2> Selamat Datang, {{ user.name }} </h2>
    </div>
    <div class="panel-body">
        {% if user_linkedin.user_image %}
            <img src="{{ user_linkedin.user_image }}" class="img-circle" height="150" width="150" align="left"></img>
        {% else %}
            <img src="https://image.ibb.co/ew4oAG/blank_Profile.png" class="img-circle" height="150" width="150" align="left"></img>
        {% endif %}
        <a href="{% url 'login-status:login' %}" style="text-align:left;float:up;">
            <button type="button" class="btn btn-default">Lihat Forum (Unavailable)</button>
        </a>
        <h4 style="text-align:right;float:up;">Jumlah Status : {{ status_count }}</h4>

        <a href="{% url 'profil:index' %}" style="text-align:left;float:down;">
            <button type="button" class="btn btn-default">Edit Profile</button>
        </a>
        <h4 style="text-align:right;float:down;">{{ user_linkedin.user_headline }}</h4>
    </div>
</div>
    
    <ul class="nav nav-tabs" role="tablist">
        <li class="active">
          <a href="#status"  data-toggle="tab"> Status </a>
        </li>
        <li>
            <a href="#profile" data-toggle="tab"> Profile </a>
        </li>
        <li>
            <a href="#riwayat"  data-toggle="tab"> Riwayat </a>
        </li>
        <li>
            <a href="#teman"  data-toggle="tab"> Teman </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="status">
            {% include 'status/status.html' %}
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
            {% include 'profil/profil_mini.html' %}
        </div>
        <div role="tabpanel" class="tab-pane" id="riwayat">
            {% include 'riwayat/riwayat.html' %}
        </div>
        <div role="tabpanel" class="tab-pane" id="teman">
            {% include 'cari_mahasiswa/mahasiswa.html' %}
            
        </div>
    </div>
</div>
{% endblock %}
