<div class="container">
    {% for status in all_status %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3> {{ user.name }} </h3>
            <h5> at {{ status.created_at }} </h5>
        </div>
        <div class="panel-body">
            <p> {{ status.description }} </p>
        </div>
    </div>
    {% endfor %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Post Status</h3>
        </div>
        
        <div class="panel-body">
            <section name="form">
                <form id="form" method="POST" action="{% url 'login-status:post-status' %}">
                    {% csrf_token %}
                    {{ status_form }}
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </section>
        </div>
    </div>
</div>