<section>
    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th> Mata Kuliah </th>
                    <th> Nilai </th>
                </thead>
                <tbody>
                    {% for matkul in riwayat %}
                    <tr>
                        <td>{{matkul.kelas.nm_kls}} </td>
                        {% if flag %}
                        <td>{{matkul.nilai}} </td>
                        {% else %}
                        <td> Dirahasiakan </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
