<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'login-status:login' %}">Buku Wajah</a>
    </div>
    {% if is_login %}
     <a style="margin-top: 10px" href="{% url 'login-status:auth_logout' %}" class="btn btn-danger pull-right" onclick="return confirm('Keluar?')">
            Logout </a><p class="navbar-text pull-right" style="font-size: 120%;">Anda Masuk sebagai : {{user.name}} ({{user.identity_number}})</p>
    {% endif %}
  </div>
</nav>
