{% extends "layout/base.html" %}
{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3> Sumsang (merk HP) </h3>
        </div>
        <div class="panel-body">
              <img src="https://vignette.wikia.nocookie.net/phineasandferb/images/7/7a/Doofenshmirtz_Evil_Inc._building.jpg/revision/latest?cb=20090917225901" class="img-circle" height="100" width="100" align="left"></img>
            <h4> Perusahaan kami sedang ingin hire 1000 Great Engineer. Lowongan terbuka untuk : </h4>
            <h4> 1. Software Engineer </h4>
            <h4> 2. System Engineer </h4>
        </div>
        
        <div class="container">
            <div class="panel panel-default">
              <div class="panel-heading">
                  <h3> Sang Bijaksana </h3>
              </div>
              <div class="panel-body">
                <img src="http://corecanvas.s3.amazonaws.com/theonering-0188db0e/gallery/original/gandalf020830a.jpg" class="img-circle" height="100" width="100" align="left"></img>
                <h4>Hi. Mas, minta HP bole gak?</h4>
              </div>
              
              <div class="panel-heading">
                  <h3> Sumsang (merk HP) </h3>
              </div>
              <div class="panel-body">
                <img src="https://vignette.wikia.nocookie.net/phineasandferb/images/7/7a/Doofenshmirtz_Evil_Inc._building.jpg/revision/latest?cb=20090917225901" class="img-circle" height="100" width="100" align="left"></img>
                <h4> Ya kagaklah </h4>
              </div>
            </div>
        </div>
        
    </div>
</div>
<div align="center">
  <a href="{% url 'login-status:login' %}">
      <button type="button" class="btn btn-warning">SSO Login</button>
  </a>
  <a>
    <img src="https://content.linkedin.com/content/dam/developer/global/en_US/site/img/signin-button.png">
  </a>
<div>
{% endblock %}
