<div class="panel - panel-info">
    <div class="panel-heading">
        <h2> Cari Mahasiswa </h2>
    </div>

    <div class="panel-body">
        <table id= "example" class="display" cellspacing="0" width="100%">
            <thead>
                <th> Nama</th>
                <th> NPM</th>
                <th> Angkatan</th>
                <th> Keahlian</th>
            </thead>
            <tfoot>
            <tr>
                <th> Nama</th>
                <th> NPM</th>
                <th> Angkatan</th>
                <th> Keahlian</th>
            </tr>
            </tfoot>

            <tbody>

            <tr>
                <td> Muhammad Imam Santosa </td>
                <td> 1606894635 </td>
                <td> 2016 </td>
                <td> Java </td>
            </tr>

            {% for mahasiswa in mahasiswa_list %}
            <tr>
                <td> {{ mahasiswa.name }}</td>
                <td> {{ mahasiswa.identity_number }} </td>
                <td> {{ 2016 }} </td>
            {% endfor %}
            {% for mahasiswa in mahasiswa_listKeahlian %}
                <td> {{ mahasiswa.user_bahasa }} </td>
            {% endfor %}
            </tr>
            
            </tbody>
        </table>
    </div>
</div>

<script>
    console.log(true);
    $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('#example tfoot th').each( function () {
            var title = $(this).text();
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        } );
     
        // DataTable
        var table = $('#example').DataTable();
     
        // Apply the search
        table.columns().every( function () {
            var that = this;
     
            $( 'input', this.footer() ).on( 'keyup change', function () {
                if ( that.search() !== this.value ) {
                    that
                        .search( this.value )
                        .draw();
                }
            } );
        } );
    } );
</script>


<style>
    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
</style>

